
@{
    ViewBag.Title = "Chat";
    Layout = "~/Views/Shared/TongHop.cshtml";
}
<link href="~/Style/css/layout/htchat.css" rel="stylesheet" />

<div class="home">
    <div class="home__background"></div>
    <div class="grid wide">
        <div class="row">
            <div class="home__container__slider">
                <div class="item-chat">
                    <div class="body-chat">
                        <div class="body-item-chat">
                            <ul id="contentMsg"></ul>
                        </div>
                        <div class="body-send-chat">
                            <input type="hidden" id="hName" value="@Session["HoTen"]" />
                            <input type="hidden" id="hName" value="@Session["IDGroup"]" />
                            <input type="text" id="txtMessage" placeholder="Nhập chat" class="txtchat" />
                            <button type="submit" id="btnSend" class="txtchat">Gửi</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

