@model IEnumerable<Jade_Dragon.Models.PhongChat>
@{
    ViewBag.Title = "Chat";
    Layout = "~/Views/Shared/TongHop.cshtml";
}
<link href="~/Style/css/layout/ChatClient.css" rel="stylesheet" />
<style>
    .body-item-chat .htchat #contentMsg li .Delete {
        position: relative;
        z-index: 999;
        padding-right: 5px;
        background: none;
        height: 0px;
        display: none;
    }

    .body-item-chat .htchat #contentMsg li:hover .Delete {
        display: block;
    }

    .body-item-chat .htchat #contentMsg li #deleteButton {
        height: 20px;
        background: none;
        border: none;
    }

    .body-item-chat .htchat #contentMsg li #deleteButton img {
        width: 20px;
        background-color: black;
        border-radius: 50px;
    }
</style>

<div class="home">
    <div class="home__background"></div>
    <div class="grid wide">
        <div class="row">
            <div class="home__container__slider">
                <div class="item-chat">
                    <div class="body-chat">
                        <div class="body-item-chat">
                            <div class="list-chat">
                                <div class="chat-admin">
                                    <button type="submit" class="btnUser" data-id="@Session["MaPhongAdmin"]">
                                        Chat với Admin
                                    </button>
                                </div>
                                <ul class="list-user" id="Create_Room"></ul>
                            </div>
                            <div class="htchat">
                                <div>
                                    <i id="tenphong">@Session["TenPhong"]</i>
                                    <input type="hidden" id="idphong" value="@Session["MaPhong"]" />
                                    <input type="hidden" id="idUser" value="" />
                                </div>
                                <ul id="contentMsg"></ul>
                            </div>
                        </div>
                        <div class="body-send-chat">
                            <input type="hidden" id="makh" value="@Session["MaKh"]" />

                            <input type="text" id="txtMessage" placeholder="Nhập chat" class="txtchat"/>
                            <button type="submit" id="btnSend" class="txtchat">Gửi</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

