
@{
    ViewBag.Title = "kk";
}
<link href="~/Style/css/ThanhCuon/Css_ThongKe_Sao.css" rel="stylesheet" />
<form action="~/trangchu/DanhGia" class="rating" method="post">
    <div class="danhgia-sao">
        <span class="star" data-rating="1">&#9733;</span>
        <span class="star" data-rating="2">&#9733;</span>
        <span class="star" data-rating="3">&#9733;</span>
        <span class="star" data-rating="4">&#9733;</span>
        <span class="star" data-rating="5">&#9733;</span>
    </div>
    <input type="hidden" name="SoSao" class="rating-value" value="3">
    <input type="hidden" id="maks" class="maks" name="maks" value="2" />
    <input type="hidden" id="makh" class="makh" name="makh" value="3" />
</form> <br />
<form action="~/trangchu/DanhGia" class="rating" method="post">
    <div class="danhgia-sao">
        <span class="star" data-rating="1">&#9733;</span>
        <span class="star" data-rating="2">&#9733;</span>
        <span class="star" data-rating="3">&#9733;</span>
        <span class="star" data-rating="4">&#9733;</span>
        <span class="star" data-rating="5">&#9733;</span>
    </div>
    <input type="hidden" name="SoSao" class="rating-value" value="">
    <input type="hidden" id="maks" class="maks" name="maks" value="8" />
    <input type="hidden" id="makh" class="makh" name="makh" value="2" />
    <button type="submit" class="button-danhgia">Đánh giá</button>
</form>
<form action="~/trangchu/DanhGia" class="rating" method="post">
    <div class="danhgia-sao">
        <span class="star" data-rating="1">&#9733;</span>
        <span class="star" data-rating="2">&#9733;</span>
        <span class="star" data-rating="3">&#9733;</span>
        <span class="star" data-rating="4">&#9733;</span>
        <span class="star" data-rating="5">&#9733;</span>
    </div>
    <input type="hidden" name="SoSao" class="rating-value" value="">
    <input type="hidden" id="maks" class="maks" name="maks" value="3" />
    <input type="hidden" id="makh" class="makh" name="makh" value="2" />
    <button type="submit" class="button-danhgia">Đánh giá</button>
</form>
<script src="~/Style/css/ThanhCuon/ssa.js"></script>
