@model IEnumerable<Jade_Dragon.Models.khachsan>

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}
<link href="~/Areas/Admin/Public/css/Map/Create_Ks.css" rel="stylesheet" />
<body onload="initMap()">
    <div class="home">
        <div class="body">
            <div id="map" class="map">
                <div class="Search-Search">
                    <input type="text" id="search-input" placeholder="Tìm kiếm địa điểm">
                    <button id="search-button">Tìm kiếm</button>
                </div>
                <div class="DangKy_Map" id="DangKy_Map">
                    <form id="register-form" action="/Admin/DangKyKhachSan/DangKyKs" method="post"></form>
                </div>
            </div>
        </div>
    </div>
    <script>
        var locations = [
          @foreach (var i in Model) {
              <text>[@i.KinhDo, @i.ViDo],</text>
          }
        ];
    </script>
    @*<script src="~/Areas/Admin/Public/js/Map/aaaa.js"></script>*@
    <script>
        initMap(locations);
    </script>
</body>

