
@{
    ViewBag.Title = "test";
    Layout = "~/Areas/Admin/Views/Shared/test.cshtml";
}



    <div id="map" class="map"></div>
    <input id="search" type="text" placeholder="Tìm kiếm địa điểm">
    <div id="result" style="color: aqua;"></div>


