
.item-chat {
    height: 78vh;
    width: 206vh;
    background: rgba(0,0,0,0.4);
}

.body-chat {
    background-color: wheat;
    width: 90vh;
    height: 77vh;
    margin-left: 29%;
    border: 5px solid black;
}

.body-item-chat {
    height: 68vh;
    display: flex;
}

    .body-item-chat .list-chat {
        background: black;
        width: 30%;
    }

    .body-item-chat .htchat {
        background: white;
        height: 68vh;
        border: 1px solid black;
        width: 70%;
    }

        .body-item-chat .htchat div {
            background-color: black;
            height: 50px;
        }

            .body-item-chat .htchat div i {
                border: 1px solid white;
                font-weight: 800;
                color: wheat;
                display: block;
                width: 30%;
                text-align: center;
                height: 40px;
                padding-top: 10px;
                margin-left: 280px;
            }

        .body-item-chat .htchat ul {
            list-style: none;
            width: 100%;
            height: 89%;
            word-wrap: break-word;
            overflow: auto;
        }

            .body-item-chat .htchat ul::-webkit-scrollbar {
                width: 20px;
            }

            .body-item-chat .htchat ul::-webkit-scrollbar-thumb {
                background-color: black;
            }

            .body-item-chat .htchat ul::-webkit-scrollbar-track {
                border: 3px solid black;
            }

    .body-item-chat .list-chat .chat-admin {
        border: 1px solid;
        height: 50px;
        text-align: center;
    }

        .body-item-chat .list-chat .chat-admin:hover {
            background: #2c3e50;
            cursor: pointer;
        }

        .body-item-chat .list-chat .chat-admin p {
            height: 100%;
            padding-top: 8%;
        }

        .body-item-chat .list-chat .chat-admin:hover p {
            font-weight: 800;
        }

.list-chat .list-user {
    list-style: none;
}

    .list-chat .list-user li {
        color: white;
    }

        .list-chat .list-user li:hover {
            cursor: pointer;
            padding-left: 5px;
            background: #130f40;
        }

.body-item-chat ul li {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 30px;
    color: black;
}

    .body-item-chat ul li i {
        font-weight: 700;
        margin-right: 10px;
    }

.body-send-chat {
    display: flex;
    background: black;
    height: 50px;
}

    .body-send-chat input, button {
        height: 35px;
    }

        .body-send-chat input.txtchat {
            margin-top: 10px;
            width: 72vh;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            padding-left: 15px;
            color: black;
            border: 1px solid wheat;
        }

            .body-send-chat input.txtchat::placeholder {
                color: black;
            }

    .body-send-chat button.txtchat {
        margin-left: 0px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        border: 1px solid wheat;
        margin-top: 10px;
        width: 110px;
        color: black;
    }

        .body-send-chat button.txtchat:hover {
            background: #ffeaa7;
            color: black;
            font-weight: 700;
        }
