.home__background .home__container__slider .tour__container .tour__container__items .pagination {
    width: 100%;
}

    .home__background .home__container__slider .tour__container .tour__container__items
    .pagination #page-numbers {
        display: flex;
        list-style: none;
        margin-left: 10%;
        position: absolute;
        z-index: 999;
        margin-top: -3%;
    }

        .home__background .home__container__slider .tour__container .tour__container__items
        .pagination #page-numbers .mucluc {
            background: none;
            border: unset;
            color: white;
            font-size: 15px;
            font-weight: 700;
            width: 70px;
            margin-top: 50px;
        }

        .home__background .home__container__slider .tour__container .tour__container__items
        .pagination #page-numbers li {
            margin-top: 45px;
            margin-left: 10px;
            background: white;
            cursor: pointer;
            text-align: center;
            width: 30px;
            height: 30px;
            border: 2px solid black;
            border-radius: 20px;
        }

            .home__background .home__container__slider .tour__container .tour__container__items
            .pagination #page-numbers li:hover {
                background: black;
                border-radius: 20px;
                transition: 1s
            }

                .home__background .home__container__slider .tour__container .tour__container__items
                .pagination #page-numbers li:hover a {
                    color: wheat;
                }

            .home__background .home__container__slider .tour__container .tour__container__items
            .pagination #page-numbers li a {
                font-size: 20px;
                color: black;
            }

        .home__background .home__container__slider .tour__container .tour__container__items
        .pagination #page-numbers i {
            margin-top: 50px;
            color: black;
            font-weight: 900;
            font-size: 20px;
        }
