.home .body {
    background: none; 
    height: 100vh;
    max-height: 100vh;
    margin-left: 10px;
    border: 3px solid white;
    overflow: auto;
    margin-top: 20px;
}
table {
    background: rgba(0,0,0,0.5);
    border-collapse: collapse;
    width: 99%;
    margin-left: 10px;
}
th {
    background: black;
    color: white;
    font-weight: bold;
    padding: 10px;
    text-align: left;
    border: 1px solid white;
}
td {
    padding: 10px;
    color: wheat;
}
.mhd {
    cursor: pointer;
}
.mhd:hover{
    color: yellow;
    font-weight: 700;
    text-decoration: underline;
}
.confirm-button {
    text-decoration: none;
    color: wheat;
    font-weight: bold;
    margin-right: 10px;
}
.delete-button img {
    vertical-align: middle;
}

#popup {
    position: absolute;
    display: none;
    padding: 10px;
    z-index: 9999;
}