#map .Search-Search {
    position: absolute;
    z-index: 999;
    margin-left: 110px;
    margin-top: 30px;
}

    #map .Search-Search #search-input {
        width: 230px;
        height: 40px;
        border-radius: 20px;
        text-align: center;
        background: rgba(0,0,0,0.5);
        color: wheat;
    }

        #map .Search-Search #search-input::placeholder {
            color: wheat;
            font-weight: 700;
        }

    #map .Search-Search button {
        background: rgba(0,0,0,0.5);
        color: wheat;
        height: 40px;
        width: 100px;
        border-radius: 20px;
        cursor: pointer;
    }

        #map .Search-Search button:hover {
            background: #95a5a6;
            font-weight: 700;
        }
