USE [SQL_JadeDragon]
GO
/****** Object:  Table [dbo].[AnhKhachSan]    Script Date: 6/6/2023 12:02:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnhKhachSan](
	[MaAnhKhachSan] [bigint] IDENTITY(1,1) NOT NULL,
	[LinkAnhKhachSan] [nvarchar](max) NULL,
	[MaKhachSan] [bigint] NULL,
 CONSTRAINT [PK_AnhKhachSan] PRIMARY KEY CLUSTERED 
(
	[MaAnhKhachSan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AnhPhongKhachSan]    Script Date: 6/6/2023 12:02:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnhPhongKhachSan](
	[MaAnhPhong] [bigint] IDENTITY(1,1) NOT NULL,
	[LinkAnhPhong] [nvarchar](max) NULL,
	[MaPhong] [bigint] NULL,
	[MaKhachSan] [bigint] NULL,
 CONSTRAINT [PK_AnhPhongKhachSan] PRIMARY KEY CLUSTERED 
(
	[MaAnhPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BinhLuan]    Script Date: 6/6/2023 12:02:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BinhLuan](
	[MaBinhLuan] [bigint] IDENTITY(1,1) NOT NULL,
	[NoiDung] [nvarchar](max) NULL,
	[MaKhachSan] [bigint] NULL,
	[MaNguoiDung] [bigint] NULL,
	[ThoiGian] [datetime] NULL,
 CONSTRAINT [PK_BinhLuan] PRIMARY KEY CLUSTERED 
(
	[MaBinhLuan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 6/6/2023 12:02:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaChiTietHoaDon] [bigint] IDENTITY(1,1) NOT NULL,
	[NgayDen] [datetime] NULL,
	[NgayDi] [datetime] NULL,
	[Gia] [bigint] NULL,
	[MaPhong] [bigint] NULL,
	[MaHoaDon] [bigint] NULL,
	[TenPhong] [nvarchar](50) NULL,
	[DaDen] [bit] NULL,
	[HoanThanh] [bit] NULL,
 CONSTRAINT [PK_machitiethoadon] PRIMARY KEY CLUSTERED 
(
	[MaChiTietHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhGiaKhachSan]    Script Date: 6/6/2023 12:02:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGiaKhachSan](
	[MaDanhGia] [bigint] IDENTITY(1,1) NOT NULL,
	[SoSao] [bigint] NULL,
	[MaNguoiDung] [bigint] NULL,
	[MaKhachSan] [bigint] NULL,
 CONSTRAINT [PK_DanhGiaKs] PRIMARY KEY CLUSTERED 
(
	[MaDanhGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 6/6/2023 12:02:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHoaDon] [bigint] IDENTITY(1,1) NOT NULL,
	[MaNguoiDung] [bigint] NULL,
	[MaKhachSan] [bigint] NULL,
	[TenKhachSan] [nvarchar](50) NULL,
	[HoTen] [nvarchar](50) NULL,
	[SoDienThoai] [bigint] NULL,
	[CMND] [bigint] NULL,
	[Gmail] [nvarchar](50) NULL,
	[SoLuongPhong] [bigint] NULL,
	[NgayDat] [datetime] NULL,
	[TongTien] [bigint] NULL,
	[DatCoc] [bigint] NULL,
	[HinhThuc] [nvarchar](50) NULL,
	[DaDat] [bit] NULL,
	[HuyDat] [bit] NULL,
	[TrangThaiDon] [nvarchar](max) NULL,
 CONSTRAINT [PK_hoadon] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachSan]    Script Date: 6/6/2023 12:02:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachSan](
	[MaKhachSan] [bigint] IDENTITY(1,1) NOT NULL,
	[TenKhachSan] [nvarchar](100) NULL,
	[SoDienThoai] [bigint] NULL,
	[Gmail] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[KinhDo] [nvarchar](50) NULL,
	[ViDo] [nvarchar](50) NULL,
	[Gia] [bigint] NULL,
	[ThangDiem] [float] NULL,
	[SoTang] [bigint] NULL,
	[MaKhuVuc] [bigint] NULL,
	[TrangThaiKs] [bit] NULL,
 CONSTRAINT [PK_khachsan] PRIMARY KEY CLUSTERED 
(
	[MaKhachSan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuVuc]    Script Date: 6/6/2023 12:02:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuVuc](
	[MaKhuVuc] [bigint] IDENTITY(1,1) NOT NULL,
	[TenKhuVuc] [nvarchar](50) NULL,
	[KinhDo] [nvarchar](50) NULL,
	[ViDo] [nvarchar](50) NULL,
 CONSTRAINT [PK_khuvuc] PRIMARY KEY CLUSTERED 
(
	[MaKhuVuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 6/6/2023 12:02:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[MaNguoiDung] [bigint] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[SoDienThoai] [bigint] NULL,
	[CMND] [bigint] NULL,
	[DiaChi] [nvarchar](100) NULL,
	[Gmail] [nvarchar](50) NULL,
	[Avt] [nvarchar](50) NULL,
	[TenDangNhap] [nvarchar](50) NULL,
	[MatKhau] [nvarchar](50) NULL,
	[MaKhachSan] [bigint] NULL,
	[MaPhanQuyen] [bigint] NULL,
	[Code] [nchar](10) NULL,
	[DaXacMinh] [bit] NULL,
 CONSTRAINT [PK_khachhang] PRIMARY KEY CLUSTERED 
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanQuyen]    Script Date: 6/6/2023 12:02:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanQuyen](
	[MaPhanQuyen] [bigint] IDENTITY(1,1) NOT NULL,
	[TenQuyen] [nvarchar](50) NULL,
 CONSTRAINT [PK_UserGroup] PRIMARY KEY CLUSTERED 
(
	[MaPhanQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhongChat]    Script Date: 6/6/2023 12:02:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongChat](
	[MaPhongChat] [bigint] IDENTITY(1,1) NOT NULL,
	[TenPhongChat] [nvarchar](50) NULL,
	[MaKhachSan] [bigint] NULL,
 CONSTRAINT [PK_PhongChat] PRIMARY KEY CLUSTERED 
(
	[MaPhongChat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhongKhachSan]    Script Date: 6/6/2023 12:02:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongKhachSan](
	[MaPhong] [bigint] IDENTITY(1,1) NOT NULL,
	[TenPhong] [nvarchar](50) NULL,
	[LoaiHinh] [nvarchar](50) NULL,
	[Gia] [bigint] NULL,
	[VIP] [bit] NULL,
	[MaKhachSan] [bigint] NULL,
	[MaSoTang] [bigint] NULL,
	[MaSoPhong] [bigint] NULL,
	[TrangThai] [bit] NULL,
	[KhoaPhong] [bit] NULL,
 CONSTRAINT [PK_phong] PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SoNguoiTruyCap]    Script Date: 6/6/2023 12:02:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SoNguoiTruyCap](
	[MaTruyCap] [bigint] IDENTITY(1,1) NOT NULL,
	[SoLuongNguoi] [bigint] NULL,
 CONSTRAINT [PK_SoLuongTruyCap] PRIMARY KEY CLUSTERED 
(
	[MaTruyCap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SoPhongKhachSan]    Script Date: 6/6/2023 12:02:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SoPhongKhachSan](
	[MaSoPhong] [bigint] NOT NULL,
	[SoPhong] [nchar](10) NULL,
 CONSTRAINT [PK_SoPhongKhachSan] PRIMARY KEY CLUSTERED 
(
	[MaSoPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SoTangKhachSan]    Script Date: 6/6/2023 12:02:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SoTangKhachSan](
	[MaSoTang] [bigint] NOT NULL,
	[SoTang] [nchar](10) NULL,
 CONSTRAINT [PK_SoTangKhachSan] PRIMARY KEY CLUSTERED 
(
	[MaSoTang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongKeDanhGia]    Script Date: 6/6/2023 12:02:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongKeDanhGia](
	[MaThongKeDanhGia] [bigint] IDENTITY(1,1) NOT NULL,
	[MotSao] [bigint] NULL,
	[HaiSao] [bigint] NULL,
	[BaSao] [bigint] NULL,
	[BonSao] [bigint] NULL,
	[NamSao] [bigint] NULL,
	[MaKhachSan] [bigint] NULL,
	[TongSao] [bigint] NULL,
 CONSTRAINT [PK_ThongKeDanhGia] PRIMARY KEY CLUSTERED 
(
	[MaThongKeDanhGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinNhanNguoiDung]    Script Date: 6/6/2023 12:02:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinNhanNguoiDung](
	[MaChatNguoiDung] [nvarchar](50) NOT NULL,
	[IdNguoiNhan] [bigint] NULL,
	[IdNguoiGui] [bigint] NULL,
	[NoiDungChat] [nvarchar](max) NULL,
	[NgayGuiChat] [datetime] NULL,
	[LinkAnh] [nvarchar](max) NULL,
 CONSTRAINT [PK_tinnhanAdmin] PRIMARY KEY CLUSTERED 
(
	[MaChatNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinNhanNhom]    Script Date: 6/6/2023 12:02:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinNhanNhom](
	[MaTinNhan] [nvarchar](50) NOT NULL,
	[MaNguoiDung] [bigint] NULL,
	[NoiDungChat] [nvarchar](max) NULL,
	[LinkAnh] [nvarchar](max) NULL,
	[MaPhongChat] [bigint] NULL,
	[NgayGui] [datetime] NULL,
 CONSTRAINT [PK_tinnhan] PRIMARY KEY CLUSTERED 
(
	[MaTinNhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AnhKhachSan] ON 

INSERT [dbo].[AnhKhachSan] ([MaAnhKhachSan], [LinkAnhKhachSan], [MaKhachSan]) VALUES (20002, N'nv20004.jpg', 20004)
INSERT [dbo].[AnhKhachSan] ([MaAnhKhachSan], [LinkAnhKhachSan], [MaKhachSan]) VALUES (20003, N'nv20005.jpg', 20005)
INSERT [dbo].[AnhKhachSan] ([MaAnhKhachSan], [LinkAnhKhachSan], [MaKhachSan]) VALUES (20004, N'nv20006.jpg', 20006)
SET IDENTITY_INSERT [dbo].[AnhKhachSan] OFF
GO
SET IDENTITY_INSERT [dbo].[AnhPhongKhachSan] ON 

INSERT [dbo].[AnhPhongKhachSan] ([MaAnhPhong], [LinkAnhPhong], [MaPhong], [MaKhachSan]) VALUES (10002, N'nv0320.jpg', 30002, 20004)
INSERT [dbo].[AnhPhongKhachSan] ([MaAnhPhong], [LinkAnhPhong], [MaPhong], [MaKhachSan]) VALUES (10003, N'nv6015.jpg', 30002, 20004)
INSERT [dbo].[AnhPhongKhachSan] ([MaAnhPhong], [LinkAnhPhong], [MaPhong], [MaKhachSan]) VALUES (10005, N'nv2022.jpg', 30002, 20004)
SET IDENTITY_INSERT [dbo].[AnhPhongKhachSan] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachSan] ON 

INSERT [dbo].[KhachSan] ([MaKhachSan], [TenKhachSan], [SoDienThoai], [Gmail], [DiaChi], [KinhDo], [ViDo], [Gia], [ThangDiem], [SoTang], [MaKhuVuc], [TrangThaiKs]) VALUES (20004, N'Jade Dragon', 1673213087, N'longmai143@gmail.com', N' Hà Nội, Phường Vĩnh Ninh, Thành phố Huế, Thừa Thiên Huế', N'107.59252309799193', N'16.46339400885023', 200000, 0, 3, 2, 1)
INSERT [dbo].[KhachSan] ([MaKhachSan], [TenKhachSan], [SoDienThoai], [Gmail], [DiaChi], [KinhDo], [ViDo], [Gia], [ThangDiem], [SoTang], [MaKhuVuc], [TrangThaiKs]) VALUES (20005, N'Love', 2326503039, N'longmai143@gmail.com', N' Đinh Tiên Hoàng, Phường Đông Ba, Thành phố Huế, Thừa Thiên Huế', N'107.5799059867859', N'16.47516422681919', 230000, 0, 3, 20002, 1)
INSERT [dbo].[KhachSan] ([MaKhachSan], [TenKhachSan], [SoDienThoai], [Gmail], [DiaChi], [KinhDo], [ViDo], [Gia], [ThangDiem], [SoTang], [MaKhuVuc], [TrangThaiKs]) VALUES (20006, N'Mộc Trà', 917236638, N'haha@gmail.com', N' Bà Triệu, Phường Xuân Phú, Thành phố Huế, Thừa Thiên Huế', N'107.59947538375852', N'16.45940184954368', 250000, 0, 1, 10002, 0)
SET IDENTITY_INSERT [dbo].[KhachSan] OFF
GO
SET IDENTITY_INSERT [dbo].[KhuVuc] ON 

INSERT [dbo].[KhuVuc] ([MaKhuVuc], [TenKhuVuc], [KinhDo], [ViDo]) VALUES (1, N'Phường An Cựu', N'107.60071992874143', N'16.45314592947132')
INSERT [dbo].[KhuVuc] ([MaKhuVuc], [TenKhuVuc], [KinhDo], [ViDo]) VALUES (2, N'Phường Vĩnh Ninh', N'107.58990526199342', N'16.463599788030194')
INSERT [dbo].[KhuVuc] ([MaKhuVuc], [TenKhuVuc], [KinhDo], [ViDo]) VALUES (3, N'Phường Phường Đúc', N'107.58109688758852', N'16.455831472507683')
SET IDENTITY_INSERT [dbo].[KhuVuc] OFF
GO
SET IDENTITY_INSERT [dbo].[NguoiDung] ON 

INSERT [dbo].[NguoiDung] ([MaNguoiDung], [HoTen], [SoDienThoai], [CMND], [DiaChi], [Gmail], [Avt], [TenDangNhap], [MatKhau], [MaKhachSan], [MaPhanQuyen], [Code], [DaXacMinh]) VALUES (1, N'Admin', NULL, NULL, NULL, NULL, NULL, N'admin', N'202cb962ac59075b964b07152d234b70', NULL, 1, NULL, 1)
INSERT [dbo].[NguoiDung] ([MaNguoiDung], [HoTen], [SoDienThoai], [CMND], [DiaChi], [Gmail], [Avt], [TenDangNhap], [MatKhau], [MaKhachSan], [MaPhanQuyen], [Code], [DaXacMinh]) VALUES (3, N'Mai Văn Long', 1673213087, 974982374873, N'79 Duy Tân', N'longmai143@gmail.com', N'nv310337a.jpg', N'long', N'202cb962ac59075b964b07152d234b70', NULL, 2, N'True      ', 0)
INSERT [dbo].[NguoiDung] ([MaNguoiDung], [HoTen], [SoDienThoai], [CMND], [DiaChi], [Gmail], [Avt], [TenDangNhap], [MatKhau], [MaKhachSan], [MaPhanQuyen], [Code], [DaXacMinh]) VALUES (5, N'Hồ Thị Như Ngọc', 1673213087, 36587263578643, N'Duy Tânn', N'longmai143@gmail.com', N'nv2324.jpg', N'ngoc', N'202cb962ac59075b964b07152d234b70', NULL, 2, N'136676    ', 1)
SET IDENTITY_INSERT [dbo].[NguoiDung] OFF
GO
SET IDENTITY_INSERT [dbo].[PhanQuyen] ON 

INSERT [dbo].[PhanQuyen] ([MaPhanQuyen], [TenQuyen]) VALUES (1, N'Admin')
INSERT [dbo].[PhanQuyen] ([MaPhanQuyen], [TenQuyen]) VALUES (2, N'Client')
INSERT [dbo].[PhanQuyen] ([MaPhanQuyen], [TenQuyen]) VALUES (3, N'Manage')
SET IDENTITY_INSERT [dbo].[PhanQuyen] OFF
GO
SET IDENTITY_INSERT [dbo].[PhongChat] ON 

INSERT [dbo].[PhongChat] ([MaPhongChat], [TenPhongChat], [MaKhachSan]) VALUES (1, N'hihih', NULL)
INSERT [dbo].[PhongChat] ([MaPhongChat], [TenPhongChat], [MaKhachSan]) VALUES (2, N'ddddddđ', NULL)
SET IDENTITY_INSERT [dbo].[PhongChat] OFF
GO
SET IDENTITY_INSERT [dbo].[PhongKhachSan] ON 

INSERT [dbo].[PhongKhachSan] ([MaPhong], [TenPhong], [LoaiHinh], [Gia], [VIP], [MaKhachSan], [MaSoTang], [MaSoPhong], [TrangThai], [KhoaPhong]) VALUES (30002, N'B101', N'Đơn', 300000, 0, 20004, 1, 1, 1, 0)
INSERT [dbo].[PhongKhachSan] ([MaPhong], [TenPhong], [LoaiHinh], [Gia], [VIP], [MaKhachSan], [MaSoTang], [MaSoPhong], [TrangThai], [KhoaPhong]) VALUES (30003, N'B101', N'Đơn', 230000, 0, 20005, 1, 1, 1, 0)
INSERT [dbo].[PhongKhachSan] ([MaPhong], [TenPhong], [LoaiHinh], [Gia], [VIP], [MaKhachSan], [MaSoTang], [MaSoPhong], [TrangThai], [KhoaPhong]) VALUES (30004, N'B101', N'Đơn', 250000, 0, 20006, 1, 1, 1, 0)
SET IDENTITY_INSERT [dbo].[PhongKhachSan] OFF
GO
SET IDENTITY_INSERT [dbo].[SoNguoiTruyCap] ON 

INSERT [dbo].[SoNguoiTruyCap] ([MaTruyCap], [SoLuongNguoi]) VALUES (1, 84)
SET IDENTITY_INSERT [dbo].[SoNguoiTruyCap] OFF
GO
INSERT [dbo].[SoPhongKhachSan] ([MaSoPhong], [SoPhong]) VALUES (1, N'01        ')
INSERT [dbo].[SoPhongKhachSan] ([MaSoPhong], [SoPhong]) VALUES (2, N'02        ')
INSERT [dbo].[SoPhongKhachSan] ([MaSoPhong], [SoPhong]) VALUES (3, N'03        ')
GO
INSERT [dbo].[SoTangKhachSan] ([MaSoTang], [SoTang]) VALUES (1, N'B1        ')
INSERT [dbo].[SoTangKhachSan] ([MaSoTang], [SoTang]) VALUES (2, N'B2        ')
INSERT [dbo].[SoTangKhachSan] ([MaSoTang], [SoTang]) VALUES (3, N'B3        ')
GO
SET IDENTITY_INSERT [dbo].[ThongKeDanhGia] ON 

INSERT [dbo].[ThongKeDanhGia] ([MaThongKeDanhGia], [MotSao], [HaiSao], [BaSao], [BonSao], [NamSao], [MaKhachSan], [TongSao]) VALUES (10002, 0, 0, 0, 0, 0, 20004, 0)
INSERT [dbo].[ThongKeDanhGia] ([MaThongKeDanhGia], [MotSao], [HaiSao], [BaSao], [BonSao], [NamSao], [MaKhachSan], [TongSao]) VALUES (10003, 0, 0, 0, 0, 0, 20005, 0)
INSERT [dbo].[ThongKeDanhGia] ([MaThongKeDanhGia], [MotSao], [HaiSao], [BaSao], [BonSao], [NamSao], [MaKhachSan], [TongSao]) VALUES (10004, 0, 0, 0, 0, 0, 20006, 0)
SET IDENTITY_INSERT [dbo].[ThongKeDanhGia] OFF
GO
INSERT [dbo].[TinNhanNguoiDung] ([MaChatNguoiDung], [IdNguoiNhan], [IdNguoiGui], [NoiDungChat], [NgayGuiChat], [LinkAnh]) VALUES (N'ChatClient162', 1, 3, N'aaaaaaaaaaaaa', CAST(N'2023-05-31T21:26:16.577' AS DateTime), NULL)
GO
INSERT [dbo].[TinNhanNhom] ([MaTinNhan], [MaNguoiDung], [NoiDungChat], [LinkAnh], [MaPhongChat], [NgayGui]) VALUES (N'ChatGroup822', 1, N'ssssssss', NULL, 1, CAST(N'2023-05-31T20:48:17.670' AS DateTime))
GO
ALTER TABLE [dbo].[NguoiDung] ADD  CONSTRAINT [DF_KhachHang_DaXacMinh]  DEFAULT ((0)) FOR [DaXacMinh]
GO
ALTER TABLE [dbo].[PhongKhachSan] ADD  CONSTRAINT [DF_phong_VIP]  DEFAULT ((0)) FOR [VIP]
GO
ALTER TABLE [dbo].[PhongKhachSan] ADD  CONSTRAINT [DF_phong_TrangThai]  DEFAULT ((0)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[AnhKhachSan]  WITH CHECK ADD  CONSTRAINT [FK_AnhKhachSan_KhachSan] FOREIGN KEY([MaKhachSan])
REFERENCES [dbo].[KhachSan] ([MaKhachSan])
GO
ALTER TABLE [dbo].[AnhKhachSan] CHECK CONSTRAINT [FK_AnhKhachSan_KhachSan]
GO
ALTER TABLE [dbo].[AnhPhongKhachSan]  WITH CHECK ADD  CONSTRAINT [FK_AnhPhongKhachSan_KhachSan] FOREIGN KEY([MaKhachSan])
REFERENCES [dbo].[KhachSan] ([MaKhachSan])
GO
ALTER TABLE [dbo].[AnhPhongKhachSan] CHECK CONSTRAINT [FK_AnhPhongKhachSan_KhachSan]
GO
ALTER TABLE [dbo].[AnhPhongKhachSan]  WITH CHECK ADD  CONSTRAINT [FK_AnhPhongKhachSan_PhongKhachSan] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[PhongKhachSan] ([MaPhong])
GO
ALTER TABLE [dbo].[AnhPhongKhachSan] CHECK CONSTRAINT [FK_AnhPhongKhachSan_PhongKhachSan]
GO
ALTER TABLE [dbo].[BinhLuan]  WITH CHECK ADD  CONSTRAINT [FK_BinhLuan_KhachSan] FOREIGN KEY([MaKhachSan])
REFERENCES [dbo].[KhachSan] ([MaKhachSan])
GO
ALTER TABLE [dbo].[BinhLuan] CHECK CONSTRAINT [FK_BinhLuan_KhachSan]
GO
ALTER TABLE [dbo].[BinhLuan]  WITH CHECK ADD  CONSTRAINT [FK_BinhLuan_NguoiDung] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[BinhLuan] CHECK CONSTRAINT [FK_BinhLuan_NguoiDung]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_HoaDon] FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HoaDon] ([MaHoaDon])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_HoaDon]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_PhongKhachSan] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[PhongKhachSan] ([MaPhong])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_PhongKhachSan]
GO
ALTER TABLE [dbo].[DanhGiaKhachSan]  WITH CHECK ADD  CONSTRAINT [FK_DanhGiaKhachSan_KhachHang] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[DanhGiaKhachSan] CHECK CONSTRAINT [FK_DanhGiaKhachSan_KhachHang]
GO
ALTER TABLE [dbo].[DanhGiaKhachSan]  WITH CHECK ADD  CONSTRAINT [FK_DanhGiaKhachSan_KhachHang1] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[DanhGiaKhachSan] CHECK CONSTRAINT [FK_DanhGiaKhachSan_KhachHang1]
GO
ALTER TABLE [dbo].[DanhGiaKhachSan]  WITH CHECK ADD  CONSTRAINT [FK_DanhGiaKhachSan_KhachSan] FOREIGN KEY([MaKhachSan])
REFERENCES [dbo].[KhachSan] ([MaKhachSan])
GO
ALTER TABLE [dbo].[DanhGiaKhachSan] CHECK CONSTRAINT [FK_DanhGiaKhachSan_KhachSan]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachSan] FOREIGN KEY([MaKhachSan])
REFERENCES [dbo].[KhachSan] ([MaKhachSan])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachSan]
GO
ALTER TABLE [dbo].[KhachSan]  WITH CHECK ADD  CONSTRAINT [FK_KhachSan_KhuVuc] FOREIGN KEY([MaKhuVuc])
REFERENCES [dbo].[KhuVuc] ([MaKhuVuc])
GO
ALTER TABLE [dbo].[KhachSan] CHECK CONSTRAINT [FK_KhachSan_KhuVuc]
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_KhachHang_PhanQuyen] FOREIGN KEY([MaPhanQuyen])
REFERENCES [dbo].[PhanQuyen] ([MaPhanQuyen])
GO
ALTER TABLE [dbo].[NguoiDung] CHECK CONSTRAINT [FK_KhachHang_PhanQuyen]
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_NguoiDung_KhachSan] FOREIGN KEY([MaKhachSan])
REFERENCES [dbo].[KhachSan] ([MaKhachSan])
GO
ALTER TABLE [dbo].[NguoiDung] CHECK CONSTRAINT [FK_NguoiDung_KhachSan]
GO
ALTER TABLE [dbo].[PhongChat]  WITH CHECK ADD  CONSTRAINT [FK_PhongChat_KhachSan] FOREIGN KEY([MaKhachSan])
REFERENCES [dbo].[KhachSan] ([MaKhachSan])
GO
ALTER TABLE [dbo].[PhongChat] CHECK CONSTRAINT [FK_PhongChat_KhachSan]
GO
ALTER TABLE [dbo].[PhongKhachSan]  WITH CHECK ADD  CONSTRAINT [FK_PhongKhachSan_KhachSan] FOREIGN KEY([MaKhachSan])
REFERENCES [dbo].[KhachSan] ([MaKhachSan])
GO
ALTER TABLE [dbo].[PhongKhachSan] CHECK CONSTRAINT [FK_PhongKhachSan_KhachSan]
GO
ALTER TABLE [dbo].[PhongKhachSan]  WITH CHECK ADD  CONSTRAINT [FK_PhongKhachSan_SoPhongKhachSan] FOREIGN KEY([MaSoPhong])
REFERENCES [dbo].[SoPhongKhachSan] ([MaSoPhong])
GO
ALTER TABLE [dbo].[PhongKhachSan] CHECK CONSTRAINT [FK_PhongKhachSan_SoPhongKhachSan]
GO
ALTER TABLE [dbo].[PhongKhachSan]  WITH CHECK ADD  CONSTRAINT [FK_PhongKhachSan_SoTangKhachSan] FOREIGN KEY([MaSoTang])
REFERENCES [dbo].[SoTangKhachSan] ([MaSoTang])
GO
ALTER TABLE [dbo].[PhongKhachSan] CHECK CONSTRAINT [FK_PhongKhachSan_SoTangKhachSan]
GO
ALTER TABLE [dbo].[ThongKeDanhGia]  WITH CHECK ADD  CONSTRAINT [FK_ThongKeDanhGia_KhachSan] FOREIGN KEY([MaKhachSan])
REFERENCES [dbo].[KhachSan] ([MaKhachSan])
GO
ALTER TABLE [dbo].[ThongKeDanhGia] CHECK CONSTRAINT [FK_ThongKeDanhGia_KhachSan]
GO
ALTER TABLE [dbo].[TinNhanNguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_TinNhanNguoiDung_KhachHang] FOREIGN KEY([IdNguoiNhan])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[TinNhanNguoiDung] CHECK CONSTRAINT [FK_TinNhanNguoiDung_KhachHang]
GO
ALTER TABLE [dbo].[TinNhanNguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_TinNhanNguoiDung_KhachHang1] FOREIGN KEY([IdNguoiGui])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[TinNhanNguoiDung] CHECK CONSTRAINT [FK_TinNhanNguoiDung_KhachHang1]
GO
ALTER TABLE [dbo].[TinNhanNhom]  WITH CHECK ADD  CONSTRAINT [FK_TinNhanNhom_KhachHang] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[TinNhanNhom] CHECK CONSTRAINT [FK_TinNhanNhom_KhachHang]
GO
ALTER TABLE [dbo].[TinNhanNhom]  WITH CHECK ADD  CONSTRAINT [FK_TinNhanNhom_PhongChat] FOREIGN KEY([MaPhongChat])
REFERENCES [dbo].[PhongChat] ([MaPhongChat])
GO
ALTER TABLE [dbo].[TinNhanNhom] CHECK CONSTRAINT [FK_TinNhanNhom_PhongChat]
GO
