.thongke-sao {
    border: 2px solid yellow;
    background: rgba(0,0,0,0.6);
    width: 380px;
    height: 230px;
    text-align: center;
}
.tongsao{
    margin-top: 15px;
    color: wheat;
    font-weight: 800;
}
.stars {
    width: 50vh;
    margin-top: 15px;
    margin-left: 22px;
    border: 1px solid wheat;
    padding-top: 10px;
}

.sosao {
    display: flex;
    margin-left: 30px;
}

.sosao span {
    padding-right: 10px;
    color: white;
    font-weight: 900;
}

.thuoc-sao{
    width: 70%;
}

.thuoc-sao .star {
    height: 20px;
    margin-bottom: 10px;
    border: 1px solid white;
}

.thuoc-sao .star-a{
    background-color: blueviolet;
}
.thuoc-sao .star-b{
    background-color: yellow;
}
.thuoc-sao .star-c{
    background-color: burlywood;
}
.thuoc-sao .star-d{
    background-color: cadetblue;
}
.thuoc-sao .star-e{
    background-color: wheat;
}

.statistics {
    display: flex;
    align-items: center;
}

.rating-count {
    margin-right: 10px;
}

.dem{
    margin-left: 5px;
}
